.left-sidebar {
  grid-area: left-sidebar;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

@media screen and (max-width: 600px) {
  .left-sidebar > ul {
    text-align: center;
  }
}
