.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 2rem;
  width: 30rem;
  text-align: center;
}

@media only screen and (max-width: 360px) {
  .form {
    width: 100%;
  }
}
