.home-main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.home-container {
  display: flex;
}

.home-container > * {
  flex-basis: 50%;
}

.hero-image {
  margin-top: -5rem;
  margin-bottom: -2.5rem;
}

.hero-image-container {
  margin: auto 0;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.hero-text-title {
  font-size: 7.5rem;
}

.hero-text-description {
  word-spacing: 2px;
  line-height: 2rem;
}

@media screen and (max-width: 960px) {
  .hero-text-title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 720px) {
  .home-container {
    flex-direction: column;
  }

  .hero-text-container,
  .hero-text-title,
  .hero-text-description {
    text-align: center;
  }
}
