/* COMPONENT STYLES */
@import url("https://mikey-css.netlify.app/assets/css/components.css");

/* **************************************************************************************************** */

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  background-color: var(--light-mode);
  color: var(--dark-mode);
}

.dark-theme {
  --light-mode: #05103a;
  --dark-mode: #f8f9fa;
}

.hr-thin {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
  width: 100%;
}

.styled-link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.styled-link:hover {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 80%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

main,
aside {
  margin: 0 2rem;
}

/* COMMON */

.xs {
  width: 3.5rem;
}

.fa-circle-check {
  color: #1a8cd8;
}

.btn-squared {
  border-radius: 5px;
}

.btn-thin {
  padding: 0.5rem 2rem;
}

.grid {
  gap: 0;
}

.color-grey {
  color: darkcyan;
}

/* **************************************************************************************************** */

/* PROFILE PAGE */

.display-picture {
  width: 25rem;
  border-radius: 50%;
  top: 100%;
  left: 15rem;
  transform: translate(-50%, -50%);
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 15rem;
  margin-left: 2.5rem;
  margin-bottom: 5rem;
}

.buttons-align {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 1280px) {
  .display-picture {
    width: 20rem;
    left: 12.5rem;
  }

  .profile-details {
    margin-top: 12rem;
  }
}

@media screen and (max-width: 960px) {
  .display-picture {
    width: 15rem;
    left: 10rem;
  }

  .profile-details {
    margin-top: 10rem;
  }
}

.profile-header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
}

.profile-header {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.profile-header-extended {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.posts-header {
  margin: 3rem;
}

.empty-posts-container {
  text-align: center;
  margin: 10rem;
}

.card-modal-post-input {
  background-color: var(--light-mode);
  width: 50%;
  padding: 5rem 1rem 2rem 2rem;
  border-radius: 1rem;
}

@media screen and (max-width: 600px) {
  .card-modal-post-input {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .card-modal-post-input {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .card-modal-post-input {
    width: 80%;
  }
}

/* **************************************************************************************************** */
